[submodule "jGui"]
	path = jGui
	url = https://github.com/mattHmm/jGui

[submodule "src/main/resources/assets/replaymod/lang"]
	path = src/main/resources/assets/replaymod/lang
	url = https://github.com/ReplayMod/Translations
[submodule "ReplayStudio"]
	path = libs/ReplayStudio
	url = ../ReplayStudio
